<div class="flex flex-wrap flex-row">
  <%= render partial: "shared/main_navbar" %>
  <div class="lg:w-10/12 w-full bg-gray-300">

    <div class="shadow-xl m-6">
      <%= render 'actions', letter_of_credit: @letter_of_credit %>
      <%= render 'form', letter_of_credit: @letter_of_credit %>
    </div>
  </div>
</div>
