<div class="container mx-auto my-8 px-4">
  <div class="max-w-2xl mx-auto">
    <div class="flex justify-end items-center mb-4">
      <%= link_to 'Cancel', letter_of_credits_path, class: "btn btn-link" %>
    </div>

    <div class="w-full shadow-xl">
      <div class="bg-primary-800 p-4 text-lg">
        <span class="text-white">Upload New LC</span>
        <%= link_to letter_of_credits_path do %>
          <i class="fas fa-window-close float-right mt-1 mr-4 text-white hover:text-yellow-500 rotate"></i>
        <% end %>
      </div>
      <div class="bg-white border-b border-gray-300 p-6">
      <%= render 'form', letter_of_credit: @letter_of_credit %>
      </div>
    </div>
  </div>
</div>
