<div class="flex flex-wrap p-6 vertical-center gradindi justify-center">
  <div class="flex flex-col lg:w-2/5 justify-center">
    <%= image_tag "solution.svg", :class => "max-w-sm object-contain" %>
  </div>
  <div class="flex flex-col lg:w-3/5 justify-center">
    <h1 class="mb-2 font-black text-white">Your Trusted LC Advisory</h1>
    <ul class="fa-ul">
      <li class="mb-3 leading-normal text-xl text-white font-light">
        <span class="fa-li"><i class="fas fa-check-square"></i></span>Digital Platform for your LC Documentation Needs
      </li>
      <li class="mb-3 leading-normal text-xl text-white font-light">
        <span class="fa-li"><i class="fas fa-check-square"></i></span>Expert Advise from Seasoned Ex-Bankers
      </li>
      <li class="mb-3 leading-normal text-xl text-white font-light">
        <span class="fa-li"><i class="fas fa-check-square"></i></span>Quick, Error-free & Cost-Effective!
      </li>
    </ul>
    <div>
      <%= link_to "Get Started!", new_user_session_path, class: "btn bg-white hover:bg-gray-300 shadow-lg text-xl lg:mb-0 mb-4 mt-4" %>
    </div>
  </div>
</div>