<div class="flex flex-wrap items-center lg:justify-between justify-center bg-indigo-100 p-8 z-0">
  <div class="w-full text-center mb-10 mt-4">
    <h2>Our Experts</h2>
  </div>

  <div class="max-w-xs rounded mb-8 md:mr-8 text-center z-10">
    <%= image_tag "balaji.jpg", :class => "h-32 w-32 relative m-auto rounded-full border-4 border-indigo-500 z-40" %>
    <div class="bg-gray-100 hover:bg-white hover:shadow-lg p-6 -mt-8">
      <div class="my-4"><p class="font-bold text-xl">Balaji Venkatachalam</p>
        <p class="text-indigo-500">Chief Executive Officer</p></div>
      <p class="text-gray-700 text-base">
        Ex-Banker with over 12 years of experience in the LC Department of leading bank in the UAE.
      </p>
    </div>
  </div>

  <div class="max-w-xs rounded mb-8 md:mr-8 text-center z-10">
    <%= image_tag "asif.png", :class => "h-32 w-32 relative m-auto rounded-full border-4 border-indigo-500 z-40" %>
    <div class="bg-gray-100 hover:bg-white hover:shadow-lg p-6 -mt-8">
      <div class="my-4"><p class="font-bold text-xl">Asif Aly</p>
        <p class="text-indigo-500">Chief Technology Officer</p></div>
      <p class="text-gray-700 text-base">
        Banker turned technology expert. Over 15 years of experience in LC's and Guarantees.
      </p>
    </div>
  </div>

  <div class="max-w-xs rounded mb-8 md:mr-8 text-center z-10">
    <%= image_tag "solution.svg", :class => "h-32 w-32 relative m-auto rounded-full border-4 border-indigo-500 z-40" %>
    <div class="bg-gray-100 hover:bg-white hover:shadow-lg p-6 -mt-8">
      <div class="my-4"><p class="font-bold text-xl">Hemantha Kumaar</p>
        <p class="text-indigo-500">Chief Operations Officer</p>
      </div>
      <p class="text-gray-700 text-base">
        Trade-finance veteran with 40+ years experience leading bank's LC and Guarantees Departments.
      </p>
    </div>
  </div>
</div>