<div class="bg-primary-800 p-4 text-lg">
  <% if current_page?(new_client_path) %>
    <span class="text-white">Create Client</span>
  <% end %>
  <% unless current_page?(new_client_path) %>
    <span class="text-white uppercase">Client No. <%= client.id %></span>
    <%= link_to client_path(client), method: :delete, remote: true, data: {confirm: 'Client and all associated data will be deleted, Are you sure?'} do %>
      <i class="fas fa-trash-alt float-right mt-1 text-white hover:text-yellow-500 rotate" data-tippy-content="Delete"></i>
    <% end %>
  <% end %>
  <% unless current_page?(new_client_path) || current_page?(edit_client_path) %>
    <%= link_to edit_client_path(client) do %>
      <i class="fas fa-pencil-alt float-right mt-1 mr-4 text-white hover:text-yellow-500 rotate" data-tippy-content="Edit"></i>
    <% end %>
  <% end %>
  <%= link_to clients_path do %>
    <i class="fas fa-window-close float-right mt-1 mr-4 text-white hover:text-yellow-500 rotate" data-tippy-content="Back"></i>
  <% end %>
</div>