<div class="container mx-auto my-8 px-4">
  <div class="max-w-2xl mx-auto">
    <div class="flex justify-between items-center mb-4">
      <h1 class="h3">Edit Client</h1>
      <%= link_to 'Cancel', @client, class: "btn btn-link" %>
    </div>

    <div class="bg-white rounded shadow p-8">
      <%= render 'form', client: @client %>
    </div>
  </div>
</div>
