<div class="bg-primary-800 p-4 text-lg">
  <% if current_page?(new_document_path) %>
    <span class="text-white">Upload New Document</span>
  <% end %>
  <% unless current_page?(new_document_path) %>
    <span class="text-white uppercase"><%= document.letter_of_credit.lc_number %></span>
    <%= link_to document_path(document), method: :delete, remote: true, data: {confirm: 'LC and all associated data will be deleted, Are you sure?'} do %>
      <i class="fas fa-trash-alt float-right mt-1 text-white hover:text-yellow-500 rotate" data-tippy-content="Delete"></i>
    <% end %>
  <% end %>
  <% unless current_page?(new_document_path) || current_page?(edit_document_path) %>
    <%= link_to edit_document_path(document) do %>
      <i class="fas fa-pencil-alt float-right mt-1 mr-4 text-white hover:text-yellow-500 rotate" data-tippy-content="Edit"></i>
    <% end %>
  <% end %>
  <%= link_to documents_path do %>
    <i class="fas fa-window-close float-right mt-1 mr-4 text-white hover:text-yellow-500 rotate" data-tippy-content="Back"></i>
  <% end %>
</div>