<div class="flex flex-wrap flex-row">
  <%= render partial: "shared/main_navbar" %>
  <div class="lg:w-10/12 w-full bg-gray-300">

    <div class="shadow-xl m-6" data-controller="input">
      <%= render 'actions', document: @document %>
      <%= render 'form', document: @document %>
    </div>
  </div>
</div>
